.rc-slider {
    font-family: 'Karla';
    width: 320px;
}

.rc-select {
    width: 100px;
    height: 80px;
}

.rc-select-selection {
    border-radius: 2px;
    margin-top: 26px;
}

.Slider__Container {
    height: 80px;
    display: inline-flex;
    align-items: center;
    float: left;
    margin-left: 1em;
}

.Article {
    max-width: 46em;
    margin: 0 auto;
    text-align: left;
    padding: 0em 1em;
}

.Article__Title {
    text-align: center;
    font-size: 2.4em;
    line-height: 1.33em;
    font-family: 'Playfair Display', 'Georgia', serif;
    font-weight: 700;
    margin: 1.618em 0 1em;
    padding: 0 1.2em;
    color: #32325F;
}

.Article__Paragraph {
    font-size: 1.1em;
    line-height: 1.618em;
    font-family: 'Muli';
    color: #6E7D91;
    margin-bottom: 10em;
}

.SpeedReader__Screen {
    display: flex;
    margin: 1em 1em 10em 1em;
}

.SpeedReader__Controls-Container {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 24px;
    left: 0;
}

.SpeedReader__Controls {
    display: flex;
    align-items: center;
    /*justify-content: flex-end;*/
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 600px;
    background-color: #FFF;
    box-shadow: 0 4px 14px rgba(50, 50, 94, .1), 0 3px 6px rgba(0, 0, 0, .08);
    border-radius: 4px;
    padding: 0 32px;
}

.SpeedReader__Controls img {
    /*margin-top: 16px;*/
    opacity: 0.72;
}

.SpeedReader__Controls img:hover {
    opacity: 0.86;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.SpeedReader__Controls-Left {
    height: 80px;
}

.SpeedReader__Toggle-Information .Info {
    font-family: 'Muli';
    color: #6E7D91;
}

.SpeedReader__Start {
    height: 80px;
    display: inline-flex;
    align-items: center;
    float: left;
}

.Toggle__Reader {
    width: auto;
    float: right;
    height: 24px;
    margin-right: 0;
}

.Toggle__Label {
    line-height: 24px;
    font-family: 'Karla';
    font-weight: 700;
    color: #6E7D91;
    overflow: hidden;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 0;
}

.WPM__Label {
    line-height: 80px;
    font-family: 'Karla';
    font-weight: 700;
    color: #6E7D91;
    overflow: hidden;
    display: block;
    float: left;
    margin-right: 12px;
    margin-bottom: 0;
    left: 80px
}

.SpeedReader__Slider {
    /*width: 70%;*/
    /*float: left;*/
    margin-left: 60px;
    margin-top: 32px;
}

.SpeedReader__Control-Button {
    width: 72px;
    height: 72px;
    display: block;
    border-radius: 72px;
    background-color: #343434;
}

.SpeedReader__Active-Word {
    font-size: 40px;
    margin: 0 auto;
    color: #6E7D91;
    font-family: 'Open Sans';
}

.react-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #32325F;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #32325F;
}

.react-toggle--checked .react-toggle-track {
    background-color: #3ECF8E;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #3ECF8E;
}

.react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
    opacity: 0;
}

.react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #3ECF8E;
}

.react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
    -moz-box-shadow: 0px 0px 3px 2px #0099E0;
    box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
    -moz-box-shadow: 0px 0px 5px 5px #0099E0;
    box-shadow: 0px 0px 5px 5px #0099E0;
}

@media screen and (max-width: 480px) {
    .Article__Title {
        font-size: 2em;
    }
    .Article__Paragraph {
        margin: 0em 1em 10em 1em;
    }
    .SpeedReader__Controls {
        padding: 0 16px;
    }
    .SpeedReader__Toggle-Information {
        width: 160px;
    }
    .Toggle__Label {
        display: none;
    }
}