.rc-slider {
  font-family: 'Karla';
  width: 320px;
}

.rc-select {
  width: 86px;
  height: 80px;
}

.rc-select-selection {
  border-radius: 2px;
  margin-top: 26px;
}

.Slider__Container {
  height: 80px;
  display: inline-flex;
  align-items: center;
  float: left;
  margin-left: 1em;
}

.Article {
  max-width: 46em;
  margin: 0 auto;
  text-align: left;
  padding: 0em 1em;
}

.Article__Title {
  text-align: center;
  font-size: 2.4em;
  line-height: 1.33em;
  font-family: 'Playfair Display', 'Georgia', serif;
  font-weight: 700;
  margin: 1.618em 0 1em;
  padding: 0 1.2em;
  color: #32325F;
}

.Article__Paragraph {
  font-size: 1.1em;
  line-height: 1.618em;
  font-family: 'Muli';
  color: #6E7D91;
  margin-bottom: 10em;
}

.SpeedReader__Screen {
  display: flex;
  margin: 1em 1em 10em 1em;
}

.SpeedReader__Controls-Container {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 24px;
  left: 0;
}

.SpeedReader__Controls {
  display: flex;
  align-items: center;
  /*justify-content: flex-end;*/
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 600px;
  background-color: #FFF;
  box-shadow: 0 4px 14px rgba(50, 50, 94, .1), 0 3px 6px rgba(0, 0, 0, .08);
  border-radius: 4px;
  padding: 0 32px;
}

.SpeedReader__Controls img {
  /*margin-top: 16px;*/
  opacity: 0.72;
}

.SpeedReader__Controls img:hover {
  opacity: 0.86;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.SpeedReader__Controls-Left {
  height: 80px;
}

.SpeedReader__Toggle-Information .Info {
  font-family: 'Muli';
  color: #6E7D91;
}

.SpeedReader__Start {
  height: 80px;
  display: inline-flex;
  align-items: center;
  float: left;
}

.Toggle__Reader {
  width: auto;
  float: right;
  height: 24px;
  margin-right: 0;
}

.Toggle__Label {
  line-height: 24px;
  font-family: 'Karla';
  font-weight: 700;
  color: #6E7D91;
  overflow: hidden;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 0;
}

.WPM__Label {
  line-height: 80px;
  font-family: 'Karla';
  font-weight: 700;
  color: #6E7D91;
  overflow: hidden;
  display: block;
  float: left;
  margin-right: 12px;
  margin-bottom: 0;
  left: 80px
}

.SpeedReader__Slider {
  /*width: 70%;*/
  /*float: left;*/
  margin-left: 60px;
  margin-top: 32px;
}

.SpeedReader__Control-Button {
  width: 72px;
  height: 72px;
  display: block;
  border-radius: 72px;
  background-color: #343434;
}

.SpeedReader__Active-Word {
  font-size: 40px;
  margin: 0 auto;
  color: #6E7D91;
  font-family: 'Open Sans';
}

.react-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #32325F;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #32325F;
}

.react-toggle--checked .react-toggle-track {
  background-color: #3ECF8E;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #3ECF8E;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #3ECF8E;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}

@media screen and (max-width: 480px) {
  .Input__Link {
    font-size: 1em;
  }
  .Article__Title {
    font-size: 2em;
    padding: 0 18px;
    text-align: left;
  }
  .Article__Paragraph {
    margin: 0em 1em 10em 1em;
  }
  .SpeedReader__Controls {
    width: 96%;
    padding: 0 16px;
  }
  .SpeedReader__Toggle-Information {
    width: 200px;
  }
  .Toggle__Label {
    display: none;
  }
  .WPM__Label {
    margin-right: 6px;
  }
  .Slider__Container {
    margin-left: 10px;
  }
}

.rc-select {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  color: #666;
  line-height: 28px;
}

.rc-select-allow-clear .rc-select-selection--single .rc-select-selection__rendered {
  padding-right: 40px;
}

.rc-select ul,
.rc-select li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rc-select>ul>li>a {
  padding: 0;
  background-color: #fff;
}

.rc-select-arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  outline: none;
}

.rc-select-arrow b {
  border-color: #999999 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  width: 0;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.rc-select-selection {
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  /* border-radius: 6px; */
  border: 1px solid #d9d9d9;
}

.rc-select-selection__placeholder {
  position: absolute;
  top: 0;
  color: #aaa;
}

.rc-select-selection__clear {
  font-weight: bold;
  position: absolute;
  line-height: 28px;
}

.rc-select-selection__clear:after {
  content: '×';
}

.rc-select-focused .rc-select-selection {
  border-color: #23c0fa;
  box-shadow: 0 0 2px rgba(45, 183, 245, 0.8);
}

.rc-select-enabled .rc-select-selection:hover {
  border-color: #23c0fa;
  box-shadow: 0 0 2px rgba(45, 183, 245, 0.8);
}

.rc-select-enabled .rc-select-selection:active {
  border-color: #2db7f5;
}

.rc-select-selection--single {
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  position: relative;
}

.rc-select-selection--single .rc-select-selection-selected-value {
  position: absolute;
  left: 0;
  top: 0;
}

.rc-select-selection--single .rc-select-selection__rendered {
  height: 28px;
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
  padding-right: 20px;
  line-height: 28px;
}

.rc-select-selection--single .rc-select-selection__clear {
  top: 0;
  right: 20px;
}

.rc-select-disabled {
  color: #ccc;
  cursor: not-allowed;
}

.rc-select-disabled .rc-select-selection--single,
.rc-select-disabled .rc-select-selection__choice__remove {
  cursor: not-allowed;
  color: #ccc;
}

.rc-select-disabled .rc-select-selection--single:hover,
.rc-select-disabled .rc-select-selection__choice__remove:hover {
  cursor: not-allowed;
  color: #ccc;
}

.rc-select-search__field__wrap {
  display: inline-block;
}

.rc-select-search__field__placeholder {
  position: absolute;
  top: 0;
  left: 3px;
  color: #aaa;
}

.rc-select-search--inline {
  width: 100%;
}

.rc-select-search--inline .rc-select-search__field__wrap {
  width: 100%;
}

.rc-select-search--inline .rc-select-search__field {
  border: none;
  font-size: 100%;
  background: transparent;
  outline: 0;
  width: 100%;
}

.rc-select-search--inline .rc-select-search__field::-ms-clear {
  display: none;
}

.rc-select-search--inline .rc-select-search__field__mirror {
  position: absolute;
  top: -999px;
  left: 0;
  white-space: pre;
}

.rc-select-search--inline>i {
  float: right;
}

.rc-select-enabled.rc-select-selection--multiple {
  cursor: text;
}

.rc-select-selection--multiple {
  min-height: 28px;
}

.rc-select-selection--multiple .rc-select-search--inline {
  float: left;
  width: auto;
}

.rc-select-selection--multiple .rc-select-search--inline .rc-select-search__field {
  width: 0.75em;
}

.rc-select-selection--multiple .rc-select-search--inline .rc-select-search__field__wrap {
  width: auto;
}

.rc-select-selection--multiple .rc-select-search__field__placeholder {
  top: 5px;
  left: 8px;
}

.rc-select-selection--multiple .rc-select-selection__rendered {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  padding-bottom: 2px;
}

.rc-select-selection--multiple .rc-select-selection__rendered .rc-select-selection__choice {
  margin-top: 4px;
  line-height: 20px;
}

.rc-select-selection--multiple .rc-select-selection__clear {
  top: 1px;
  right: 8px;
}

.rc-select-enabled .rc-select-selection__choice {
  cursor: default;
}

.rc-select-enabled .rc-select-selection__choice:hover .rc-select-selection__choice__remove {
  opacity: 1;
  transform: scale(1);
}

.rc-select-enabled .rc-select-selection__choice:hover .rc-select-selection__choice__content {
  margin-left: -8px;
  margin-right: 8px;
}

.rc-select-enabled .rc-select-selection__choice__disabled {
  cursor: not-allowed;
}

.rc-select-enabled .rc-select-selection__choice__disabled:hover .rc-select-selection__choice__content {
  margin-left: 0;
  margin-right: 0;
}

.rc-select .rc-select-selection__choice {
  background-color: #f3f3f3;
  border-radius: 4px;
  float: left;
  padding: 0 15px;
  margin-right: 4px;
  position: relative;
  overflow: hidden;
  transition: padding 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045), width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.rc-select .rc-select-selection__choice__content {
  margin-left: 0;
  margin-right: 0;
  transition: margin 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.rc-select .rc-select-selection__choice-zoom-enter,
.rc-select .rc-select-selection__choice-zoom-appear,
.rc-select .rc-select-selection__choice-zoom-leave {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  opacity: 0;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rc-select .rc-select-selection__choice-zoom-leave {
  opacity: 1;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.rc-select .rc-select-selection__choice-zoom-enter.rc-select-selection__choice-zoom-enter-active,
.rc-select .rc-select-selection__choice-zoom-appear.rc-select-selection__choice-zoom-appear-active {
  animation-play-state: running;
  animation-name: rcSelectChoiceZoomIn;
}

.rc-select .rc-select-selection__choice-zoom-leave.rc-select-selection__choice-zoom-leave-active {
  animation-play-state: running;
  animation-name: rcSelectChoiceZoomOut;
}

@keyframes rcSelectChoiceZoomIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rcSelectChoiceZoomOut {
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.rc-select .rc-select-selection__choice__remove {
  color: #919191;
  cursor: pointer;
  font-weight: bold;
  padding: 0 0 0 8px;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  top: 0;
  right: 2px;
  transition: opacity .3s, transform .3s;
}

.rc-select .rc-select-selection__choice__remove:before {
  content: '×';
}

.rc-select .rc-select-selection__choice__remove:hover {
  color: #333;
}

.rc-select-dropdown {
  background-color: white;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0px 4px #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 100;
  left: -9999px;
  top: -9999px;
  position: absolute;
  outline: none;
}

.rc-select-dropdown:empty,
.rc-select-dropdown-hidden {
  display: none;
}

.rc-select-dropdown-menu {
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 9999;
}

.rc-select-dropdown-menu>li {
  margin: 0;
  padding: 0;
}

.rc-select-dropdown-menu-item-group-list {
  margin: 0;
  padding: 0;
}

.rc-select-dropdown-menu-item-group-list>li.rc-select-menu-item {
  padding-left: 20px;
}

.rc-select-dropdown-menu-item-group-title {
  color: #999;
  line-height: 1.5;
  padding: 8px 10px;
  border-bottom: 1px solid #dedede;
}

li.rc-select-dropdown-menu-item {
  margin: 0;
  position: relative;
  display: block;
  padding: 7px 10px;
  font-weight: normal;
  color: #666;
  white-space: nowrap;
}

li.rc-select-dropdown-menu-item-disabled {
  color: #ccc;
  cursor: not-allowed;
}

li.rc-select-dropdown-menu-item-selected {
  color: #666;
  background-color: #ddd;
}

li.rc-select-dropdown-menu-item-active {
  background-color: #5897fb;
  color: white;
  cursor: pointer;
}

li.rc-select-dropdown-menu-item-divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  line-height: 0;
}

.rc-select-dropdown-slide-up-enter,
.rc-select-dropdown-slide-up-appear {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}

.rc-select-dropdown-slide-up-leave {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  opacity: 1;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused;
}

.rc-select-dropdown-slide-up-enter.rc-select-dropdown-slide-up-enter-active.rc-select-dropdown-placement-bottomLeft,
.rc-select-dropdown-slide-up-appear.rc-select-dropdown-slide-up-appear-active.rc-select-dropdown-placement-bottomLeft {
  animation-name: rcSelectDropdownSlideUpIn;
  animation-play-state: running;
}

.rc-select-dropdown-slide-up-leave.rc-select-dropdown-slide-up-leave-active.rc-select-dropdown-placement-bottomLeft {
  animation-name: rcSelectDropdownSlideUpOut;
  animation-play-state: running;
}

.rc-select-dropdown-slide-up-enter.rc-select-dropdown-slide-up-enter-active.rc-select-dropdown-placement-topLeft,
.rc-select-dropdown-slide-up-appear.rc-select-dropdown-slide-up-appear-active.rc-select-dropdown-placement-topLeft {
  animation-name: rcSelectDropdownSlideDownIn;
  animation-play-state: running;
}

.rc-select-dropdown-slide-up-leave.rc-select-dropdown-slide-up-leave-active.rc-select-dropdown-placement-topLeft {
  animation-name: rcSelectDropdownSlideDownOut;
  animation-play-state: running;
}

@keyframes rcSelectDropdownSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}

@keyframes rcSelectDropdownSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }
}

@keyframes rcSelectDropdownSlideDownIn {
  0% {
    opacity: 0;
    transform-origin: 0% 100%;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 100%;
    transform: scaleY(1);
  }
}

@keyframes rcSelectDropdownSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 0% 100%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 100%;
    transform: scaleY(0);
  }
}

.rc-select-open .rc-select-arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
