.PageLayout__Header {
    height: 35vh;
    display: flex;
    align-items: center; // justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(135deg, #f7f7fa 0%, #D0E3F2 100%);
}

.Logo {
    font-family: 'Karla';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    color: #32325f;
    letter-spacing: 0.24em;
    margin-top: 4em;
    .Read {
        opacity: 0.6;
    }
    .Reactive {
        opacity: 1;
    }
}

.Pitch {
    display: none;
    font-family: 'Muli';
    font-weight: 400;
    font-size: 1em;
}